



manifest {
    homePage = 'http://github.com/shaze/pbcall'
    description = 'Quick calling from PacBio Data'
    mainScript = 'main.nf'
}

params {
   // key parameters
   build   = "b38"
   ref_dir = ""          // reference directory
   ref_seq = "38.fa"
   //ref_mmi = "38.mmi"
   // ref_fai = "38.fai"
   tandem_example = "human_GRCh38_no_alt_analysis_set.trf.bed"
   bamify_cpus=20
   bamify_mem="36 GB"
   call_cpus=17
   call_mem="50 GB"
   bam = ""  // give directory where BAMS can be found, directory contains one BAM per sample
   fqs = ""  // give directory where FQs can be found -- one directory per sample
             // potentially several FQ files per directory
   fast_qc = ""  // where qc-ed fastq should go.
   min_read_fq_qc    = 20
   // VCF paramters
   output_vcf        = "vcf_folder"
   output_gvcf       = ""  // leave empty if gvcf not wanted
   par_regions_bed   = ""  //leave empty if not provided
   vcf_stats_report  = ""  // make "true" if wanted
   skip_sv = true    // do SV calling?
   // VCF filtering quality -- relatively liberal -- can re-QC
   qual = 20
   depth= 8
   gq   = 20
   // where jointly called VCF to go
   joint_dir  = ""
   joint_name = ""
   // regions to be ignored if any
   exclude_regions = ""
   // performance
   scratch = false


}

apptainer.enabled=true

process {
    withLabel: deepvariant {
        container="docker://google/deepvariant" 
    }

}


profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }



    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
	process.clusterOptions="--constraint=avx2"
    }



    singularity {
        singularity.autoMounts = true
        singularity.enabled = true
    }


}