



manifest {
    homePage = 'http://github.com/shaze/pbcall'
    description = 'Quick calling from PacBio Data'
    mainScript = 'main.nf'
}

params {

   ref_seq = "38.fa"
   ref_fai = "38.fai"
   ref_index = "38.mmi"

   tandem_example = "human_GRCh38_no_alt_analysis_set.trf.bed"
   bamify_cpus=16
   bamify_mem="32 GB"
   call_cpus=16
   call_mem="48 GB"
   bam = "bam_folder"
   vcf = "vcf_folder"
   out = "joint"
}


process {
    withLabel: deepvariant {
        container="docker://google/deepvariant" 
    }


}


profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }



    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
	process.clusterOptions="--constraint=avx2"
    }



    singularity {
        singularity.autoMounts = true
        singularity.enabled = true
    }


}